body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

canvas {
  background-color: #111;
  margin-top: 20px;
  border: 2px solid #fff;
}
